@model SPVTMaster.Models.MainViewModel
@{
}

<form asp-controller="Category" asp-action="Index" method="post" class="form-horizontal" role="form">

<fieldset class="form-group">

<h3>RadioButtonList</h3>

<legend class="col-sm-3 control-label"></legend>

<div class="checkbox checkboxlist col-sm-9">

        @{ 
            for(int i = 0; i < Model.ListCategory.Count(); i++)
            {
               <input asp-for="Selectedanswer" value="@Model.ListCategory[i].CategoryID" type="radio"/>

               <label asp-for="@Model.ListCategory[i].CategoryID">@Model.ListCategory[i].CategoryName</label>

               <input asp-for="@Model.ListCategory[i].CategoryID" type="hidden"  />

            }
          }

    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <input id="submit" type="submit" value="submit" />
            </div>
        </div>
      </div>
    </fieldset>
</form>

@*<form asp-action="Index" method="post">
    @for (int i = 0; i < Model.ListCategory.Count; i++)
    {
        <input type="radio" asp-for="SelectedAns" value="@Model.ListCategory[i].ID" />
        <label asp-for="@Model.ListCategory[i].ID">@Model.ListCategory[i].Name</label>
        <input type="hidden" asp-for="@Model.ListCategory[i].ID" />

    }

    <input type="submit" value="submit" />

</form>*@