@model SPVTMaster.Models.ApplicationUser

@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>


<div>
    <h4 class="title">Delete Application User</h4>
<div class="viewbox">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SiteLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiteLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentSupervisor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentSupervisor)
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.NormalizedUserName)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.NormalizedUserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.NormalizedEmail)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.NormalizedEmail)
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.SecurityStamp)
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.ConcurrencyStamp)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.ConcurrencyStamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.LockoutEnd)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.LockoutEnd)
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>
        <dt hidden>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>
    </dl>

    <form asp-action="Delete" new { onclick="return confirm('Are sure wants to delete?');" })>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> 

    </form>

    </div>
    <br />
    <br />
    <div class="divbox">
        <a class="form-control" asp-action="Index">Back to List</a>
    </div>
</div>
</body>
</html>
