@model IEnumerable<SPVTMaster.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SiteLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentSupervisor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfYearsWithCompany)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
             
              
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentSupervisor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfYearsWithCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
          
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
