@model IEnumerable<SPVTMaster.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>App Users</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
    <h1 class="title">Application Users</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.SiteLocation)
                </th>
                <th >
                    @Html.DisplayNameFor(model => model.CurrentSupervisor)
                </th>
                <th hidden >
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.NormalizedUserName)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.NormalizedEmail)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.EmailConfirmed)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.PasswordHash)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.SecurityStamp)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.ConcurrencyStamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.LockoutEnd)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.LockoutEnabled)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.AccessFailedCount)
                </th>
            <th>
                Menu
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="carTable">
            <td>
                @Html.DisplayFor(modelItem => item.Email)
              
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteLocation)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.CurrentSupervisor)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.NormalizedUserName)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.NormalizedEmail)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.SecurityStamp)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.LockoutEnd)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td>
                <div class="dropdown">
                    <div data-toggle="dropdown">
                        <div class="container1">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </div>
                    </div>

                    <ul class="dropdown-menu">
                        <li><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                        <li><a asp-action="Details" asp-route-id="@item.Id">Details</a></li>
                        <li><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>

                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
